/* #region Laptop */

@media (max-width: 1080px) {
  html {
    font-size: 56.25%;
  }

  .header,
  .main-container {
    padding-inline: 5rem;
  }

  .left-sticky-links {
    left: 4rem;
  }

  .about--content,
  .projects--list {
    padding-inline: 8rem;
  }

  .certificates--grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }

  .project--details {
    grid-column: 1 / 6;
  }

  .project:nth-child(2) .project--details {
    grid-column: 4 / 9;
  }

  .photoshop {
    padding-inline: 8rem;
  }

  .photoshop--work-description {
    font-size: var(--font-rg);
    font-weight: 500;
  }
}

/* #endregion Laptop */

/* #region Tablet */

@media (max-width: 768px) {
  .header {
    justify-content: space-between;
  }

  .top-links {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mobile-nav-icons {
    position: relative;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 600;
  }

  .left-sticky-links {
    display: none;
  }

  .nav-open .nav-bar {
    background-color: var(--black);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    min-height: 100vh;
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    z-index: 500;
    transition: var(--basic);
  }

  .nav-open .mobile-menu-icon {
    display: none;
  }

  .nav-open .mobile-close-icon {
    display: block;
  }

  .nav-bar {
    background-color: var(--black);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .nav-list {
    flex-direction: column;
    gap: 9.6rem;
  }

  .nav-link:link,
  .nav-link:visited {
    font-size: 2.4rem;
  }

  .resume {
    display: none;
  }

  .project-mobile {
    padding-block: 1.2rem;
    padding-inline: 2rem;
    font-size: var(--font-sm);
  }

  .resume-mobile {
    display: inline-block;
  }

  .about--content,
  .projects--list {
    max-width: 100rem;
    padding-inline: 0rem;
    grid-template-columns: 1fr;
    column-gap: 0;
  }

  .about--skills-rightside {
    grid-row: 2 / 3;
    justify-self: center;
  }

  .about--description {
    padding-inline: 4rem;
  }

  .about--image {
    margin-top: 5rem;
  }

  .about--skills {
    align-items: center;
  }

  .skill-line::after {
    display: none;
  }

  .about--certificates {
    align-items: center;
  }

  .certificate--overlay {
    bottom: 0;
    font-size: var(--font-sm);
    opacity: 1;
  }

  .certificate--icon,
  .certificate--subtitle {
    display: none;
  }

  .certificate--logo {
    width: 4rem;
  }

  .certificate--name {
    margin-bottom: 0;
  }

  .project {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project:nth-child(2) .project--details {
    align-items: flex-start;
  }

  .project:last-child {
    gap: 10rem;
  }

  .project--image {
    filter: grayscale(0);
    opacity: 0.08;
  }

  .project--details {
    background-color: rgba(25, 29, 39, 0.4);
    position: absolute;
    padding-inline: 5rem;
    border-radius: 10px;
  }

  .project--subtitle {
    margin-bottom: 2rem;
    font-size: var(--font-rg);
  }

  .project--title {
    font-size: clamp(3.6rem, 4.5vw, var(--font-lg));
  }

  .project--description {
    background-color: transparent;
    padding: 0;
    margin-block: 3rem;
    box-shadow: none;
    font-size: var(--font-rg);
  }

  .project--description-link {
    cursor: var(--cursor-default);
  }

  .project--description-link::after {
    content: none;
  }

  .project--icons {
    flex-direction: row;
    justify-content: space-between;
  }

  .project--icon-image {
    display: none;
  }

  .project--icon-text {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .photoshop {
    padding-inline: 0;
  }
}

/* #endregion Tablet */

/* #region Small Tablet */

@media (max-width: 600px) {

  .video-overlay {
    background-color: rgba(25, 29, 39, 0.6);
    box-shadow: none;
  }

  .profile {
    margin-bottom: 5rem;
  }

  .about--description {
    padding-inline: 0;
  }

  .skills--grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 2rem;
  }

  .certificates--grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .projects--list {
    gap: 6rem;
  }

  .project {
    gap: 3rem;
  }

  .project:not(:last-child) {
    border-bottom: 2px solid rgba(100, 190, 255, 0.4);
  }

  .project:last-child {
    margin-bottom: 0;
  }

  .project:last-child .project--icons {
    align-items: center;
    gap: 5rem;
  }

  .project:last-child .project--icon-text {
    flex-direction: row;
  }

  .project--image {
    opacity: 1;
  }

  .project--details {
    background-color: transparent;
    position: relative;
    padding: 0;
    margin-bottom: 5rem;
    box-shadow: none;
  }

  .project--icons {
    align-items: flex-end;
  }

  .project--icon-text {
    flex-direction: column;
    align-items: flex-start;
  }

  .photoshop {
    padding-inline: 2rem;
  }

  .photoshop--list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 3rem;
  }
}

/* #endregion Small Tablet */

/* #region Mobiles */

@media (max-width: 480px) {
  html {
    scroll-padding-top: 2rem;
  }

  .header {
    padding-inline: 3rem;
  }

  .main-container {
    padding-inline: 2rem;
  }

  .about,
  .projects,
  .contact {
    padding-block: 8rem;
  }

  .about--content,
  .projects--list {
    padding-inline: 2rem;
  }

  .about--image {
    width: 30rem;
    height: 30rem;
  }

  .certificate--image {
    width: 15rem;
  }

  .project--icons,
  .project:nth-child(2) .project--icons {
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
  }

  .project:last-child .project--icons {
    flex-direction: row;
  }

  .contact-btns {
    flex-direction: column;
  }
}

/* #endregion Mobiles */

/* #region Small Mobiles */

@media (max-width: 320px) {
  html {
    font-size: 50%;
  }

  .about,
  .projects,
  .contact {
    padding-block: 6rem;
  }

  .skills--grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(7, 1fr);
  }

  .certificates--grid {
    grid-template-columns: 1fr;
  }

  .certificate--image {
    width: 20rem;
  }

  .project:last-child .project--details {
    align-items: flex-start;
  }

  .project:last-child .project--icons {
    justify-content: space-between;
    align-items: flex-end;
  }

  .project:last-child .project--icon-text {
    flex-direction: column;
  }
}

/* #endregion Small Mobiles */

/* #region (Skill - RightSide--Skill-List) */

@media (min-width: 769px) and (max-width: 880px) {

  .about--content {
    grid-template-columns: 3fr 2fr;
  }

  .about--skills-rightside {
    align-items: flex-start;
  }

  .about--image {
    margin-bottom: 5rem;
    width: 25rem;
    height: 25rem;
  }

  .about--skills {
    display: none;
  }

  .rightside--skill-list {
    display: flex;
  }

  .heading-tertiary {
    display: block;
  }
}

/* #endregion (Skill - RightSide--Skill-List) */