/* #region Assets */

:root {
  --primary: #64beff;
  --light-primary: #99aecc;
  --background: #191d27;
  --black: #000;
  --grey: #999;
  --white: #fafafa;
  --focus: #64beff66;
  --cursor-default: default;

  --font-xsm: 1.4rem;
  --font-sm: 1.6rem;
  --font-rg: 1.8rem;
  --font-md: 2.4rem;
  --font-lg: 4.8rem;
  --font-xlg: 6.4rem;

  --basic: all 300ms;
}

/* #endregion */

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: none;
  border-radius: 5px;
  box-shadow: 0 0 0 0.5rem var(--focus);
  transition: var(--basic);
}

body {
  color: var(--white);
  height: 100%;
  font-weight: 400;
  line-height: 1;
  overflow-x: hidden;
}

.rtl {
  direction: rtl;
}

/* #region Scrollbar Styling */

::-webkit-scrollbar {
  width: 1.2rem;
}

::-webkit-scrollbar-track {
  background: var(--background);
  margin-inline: 0.5px;
}


::-webkit-scrollbar-thumb {
  background-color: var(--grey);
  border: 0.25px solid var(--background);
  border-radius: 100vw;


}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--light-primary);
}

@supports (scrollbar-color: var(--grey) #191d27) {
  * {
    scrollbar-color: rgba(153, 153, 153) rgba(25, 29, 39);
    scrollbar-width: 1.2rem;
  }
}

/* #endregion */

/* #region Heading */

.heading {
  color: var(--white);
  margin-bottom: 5rem;
  font-size: clamp(3.6rem, 6vw, var(--font-lg));
  font-weight: 600;
  letter-spacing: -0.5px;
  text-align: center;
  cursor: var(--cursor-default);
}

/* #endregion */

/* #region Buttons */

.btn,
.btn:link,
.btn:visited {
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--basic);
  cursor: pointer;
}

.btn:hover {
  background-color: rgba(100, 190, 255, 0.8);
  border-color: var(--primary);
  color: var(--black);
}

.resume:hover,
.btn-language:hover {
  color: var(--primary);
  border-color: var(--primary);
}

/* #endregion */

/* #region Header */

.header {
  background-color: rgba(25, 29, 39, 0.8);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  position: fixed;
  top: 0;
  width: 100%;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.linkedin-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-linkedin:hover path {
  fill: var(--primary);
  transition: var(--basic);
}

.top-links {
  display: none;
}

.top--btn-linkedin {
  padding: 1rem;
  margin-inline: 4rem;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.top--btn-language {
  background-color: rgba(0, 0, 0, 0.08);
  color: var(--white);
  padding: 1rem;
  border: 2px solid var(--white);
  border-radius: 50% !important;
  width: 4rem;
  height: 4rem;
  font-size: var(--font-xsm);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--basic);
  cursor: pointer;
}

.mobile-nav-icons {
  background: none;
  border: none;
  display: none;
  cursor: pointer;
}

.mobile-menu-icon {
  background-image: url("../img/svg/Menu-Icon.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 2.4rem;
  height: 2.4rem;
}

.mobile-close-icon {
  background-image: url("../img/svg/Close-Icon.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 2.4rem;
  height: 2.4rem;
  display: none;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list li {
  margin-inline: 1.2rem;
}

.nav-link:link,
.nav-link:visited {
  color: var(--white);
  position: relative;
  padding: 1rem;
  font-size: var(--font-xsm);
  font-weight: 500;
  text-decoration: none;
  display: inline-block;
  transition: var(--basic);
}

.nav-link:hover,
.nav-link:active {
  color: var(--primary);
}

.resume {
  background-color: rgba(0, 0, 0, 0.08);
  color: var(--white);
  padding-block: 1.2rem;
  padding-inline: 1.4rem;
  border: 2px solid var(--white);
  border-radius: 5px;
  margin-inline: 2rem;
  font-size: var(--font-xsm);
  font-weight: 500;
  letter-spacing: -0.25px;
  transition: var(--basic);
  cursor: pointer;
}

.left-sticky-links {
  position: fixed;
  left: 5rem;
  bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 200;
}

.btn-linkedin {
  padding: 1rem;
  margin-bottom: 2rem;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn-language {
  background-color: rgba(0, 0, 0, 0.08);
  color: var(--light-primary);
  padding: 1rem;
  border: 2px solid var(--light-primary);
  border-radius: 50% !important;
  width: 4rem;
  height: 4rem;
  font-size: var(--font-xsm);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--basic);
  cursor: pointer;
}

/* #endregion Header */

/* #region Home */

.portfolio {
  background-color: var(--background);
}

.main-container {
  padding-inline: 10rem;
}

.video-overlay {
  background-color: rgba(25, 29, 39, 0.9);
  position: absolute;
  left: 0;
  width: 100%;
  height: 100vh;
  box-shadow: 0 4px 8px 0.2rem rgba(100, 190, 255, 0.02);
  z-index: 50;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.homepage {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.profile {
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: var(--cursor-default);
}

.introduce {
  color: var(--primary);
  margin-bottom: 2rem;
  font-size: var(--font-md);
}

.profile-name {
  font-size: clamp(4rem, 6.4vw, var(--font-xlg));
  font-weight: 600;
}

.profile-position {
  color: var(--light-primary);
  margin-top: 1rem;
  font-size: clamp(2.4rem, 4.8vw, var(--font-lg));
  font-weight: 500;
}

.profile-description {
  color: var(--light-primary);
  margin-top: 2rem;
  font-size: var(--font-rg);
  text-align: center;
  line-height: 1.8;
}

.profile-links {
  margin-top: 4rem;
  display: flex;
}

.project-mobile {
  background-color: var(--background);
  color: var(--primary);
  border: 2px solid var(--primary);
  padding-block: 1.4rem;
  padding-inline: 2.8rem;
  font-size: var(--font-rg);
}

.resume-mobile {
  background-color: var(--background);
  color: var(--white);
  padding-block: 1.4rem;
  padding-inline: 2.8rem;
  border: 2px solid var(--white);
  border-radius: 5px;
  margin-inline: 2rem;
  font-size: var(--font-sm);
  letter-spacing: -0.25px;
  transition: var(--basic);
  cursor: pointer;
  display: none;
}

/* #endregion Home */

/* #region About */

.about,
.projects {
  padding-block: 10rem;
}

.about--content {
  padding-inline: 5rem;
  margin: 0 auto;
  max-width: 110rem;
  display: grid;
  grid-template-columns: 2.5fr 2fr;
  justify-content: center;
  column-gap: 5rem;
}

.about--description {
  color: var(--light-primary);
  font-size: var(--font-rg);
  line-height: 1.8;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  cursor: var(--cursor-default);
}

.about--skills-rightside {
  color: var(--light-primary);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.rightside--skill-list {
  display: none;
  flex-direction: column;
  cursor: var(--cursor-default);
}

.rightside--skill {
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
}

.about--external-links:link,
.about--external-links:visited {
  color: var(--white);
  text-decoration: underline;
  transition: var(--basic);
}

.about--external-links:hover,
.about--external-links:active {
  color: var(--primary);
}

.about--image {
  border-radius: 20px;
  width: 35rem;
  height: 35rem;
}

.about--skills {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-column: -3 / -1;
}

.skill--title {
  margin-top: 8rem;
  margin-bottom: 5rem;
  font-size: var(--font-md);
  font-weight: 500;
  display: flex;
  align-items: center;
  cursor: var(--cursor-default);
}

.skill--title::after {
  content: "";
  background-color: var(--white);
  border-radius: 100vw;
  margin-inline: 5rem;
  width: 50%;
  height: 1px;
}

.skills--grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}

.skill {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2rem;
  z-index: 10;
}

.skill--icon {
  width: 5rem;
  height: 5rem;
}

.skill--description {
  color: var(--light-primary);
  font-size: var(--font-rg);
  font-weight: 500;
  cursor: var(--cursor-default);
}

.about--certificates {
  grid-column: span 2;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
}

.certificates-title {
  margin-bottom: 2rem;
  font-size: var(--font-md);
  font-weight: 500;
  display: none;
  align-items: center;
  gap: 4rem;
  cursor: var(--cursor-default);
}

.certificates--grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
}

.certificate--btn {
  background-color: transparent;
  position: relative;
  border: 0;
  box-shadow: 0 4px 8px 0.2rem rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.certificate--btn:hover .certificate--overlay {
  opacity: 1;
  filter: grayscale(0);
}

.certificate--btn:hover .certificate--image {
  filter: grayscale(0);
}

.certificate--overlay {
  background-color: rgba(25, 29, 39, 0.9);
  position: absolute;
  padding: 1rem;
  width: 100%;
  min-height: 100%;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--basic);
  cursor: pointer;
}

.certificate--image {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  filter: grayscale(1);
  transition: var(--basic);
}

.certificate--description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.certificate--icon {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.certificate--logo {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.certificate--name {
  color: var(--primary);
  margin-bottom: 0.5rem;
  font-size: var(--font-rg);
  font-weight: 600;
}

.certificate--subtitle {
  color: var(--light-primary);
  font-size: var(--font-sm);
  font-weight: 500;
}

/* #endregion About */

/* #region Projects */

.projects--list {
  padding-inline: 5rem;
  margin: 0 auto;
  max-width: 110rem;
  display: flex;
  flex-direction: column;
}

.project {
  position: relative;
  margin-bottom: 12rem;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 4rem;
}

.project:first-child {
  margin-top: 2rem;
}

.project:nth-child(2) .project--image {
  grid-column: 4 / 9;
}

.project:nth-child(2) .project--details {
  align-items: flex-start;
  grid-column: 1 / 5;
}

.project:nth-child(2) .project--btns {
  flex-direction: row-reverse;
}

.project:last-child {
  display: flex;
  justify-content: space-between;
  gap: 8rem;
}

.project--image {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  grid-column: 1 / 6;
  grid-row: 1 / 2;
  filter: grayscale(1);
  transition: var(--basic);
  object-fit: contain;
  opacity: 0.2;
  z-index: 10;
}

.project--details {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  grid-column: 5 / 9;
  grid-row: 1 / 2;
  cursor: var(--cursor-default);
  z-index: 20;
}

.project:last-child .project--details {
  padding-inline: 3rem;
  padding-block: 4rem;
  border-radius: 10px;
  box-shadow: 0 0 8px 0.2rem rgba(153, 174, 204, 0.4);
  align-items: flex-start;
}

.project:last-child .project--description {
  background-color: transparent;
  padding: 0;
  box-shadow: none;
}

.project:last-child .project--btns {
  flex-direction: row-reverse;
  justify-content: space-between;
}

.project:last-child .project--icons {
  margin-inline: 0;
}

.project--subtitle {
  color: var(--primary);
  margin-bottom: 1rem;
  font-size: var(--font-sm);
  font-weight: 500;
}

.project--title {
  color: var(--light-primary);
  font-size: clamp(3rem, 3.5vw, 4rem);
  font-weight: 700;
}

.project--description {
  background-color: var(--background);
  padding: 2rem;
  margin-block: 3rem;
  border-radius: 10px;
  box-shadow: 0 0 8px 0.2rem rgba(153, 174, 204, 0.4);
  font-size: var(--font-sm);
  line-height: 1.8;
  letter-spacing: -0.5px;
}

.project--btns {
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.project--icons {
  margin-inline: 4rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  cursor: pointer;
}

.project--icon {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project--icon-text {
  color: var(--light-primary);
  font-size: var(--font-sm);
  font-weight: 500;
  font-style: italic;
  display: none;
}

.project--link {
  background-color: var(--background);
  color: var(--primary);
  border: 2px solid var(--primary);
  padding-block: 1.2rem;
  padding-inline: 2.4rem;
  font-size: var(--font-sm);
}

.project--link-hovered {
  filter: grayscale(0);
  opacity: 1;
}

.project--link-ext {
  padding: 1rem;
  margin-top: auto;
}

.photoshop {
  padding-inline: 5rem;
  margin: 0 auto;
  max-width: 90rem;
}

.photoshop-title {
  margin-bottom: 5rem;
  font-size: var(--font-md);
  font-weight: 500;
  display: flex;
  align-items: center;
  cursor: var(--cursor-default);
}

.photoshop--list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
}

.photoshop--work {
  position: relative;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0.2rem rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.photoshop--work:hover .photoshop--work-image {
  transform: scale(1.1);
}

.photoshop--work:hover .photoshop--work-info {
  opacity: 1;
}

.photoshop--work-image {
  width: 100%;
  height: 100%;
  filter: contrast(1.05);
  transition: var(--basic);
}

.photoshop--work-info {
  background-color: rgba(0, 0, 0, 0.85);
  color: var(--grey);
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.photoshop--work-description {
  color: var(--light-primary);
  font-size: var(--font-md);
  font-weight: 600;
}

/* #endregion Projects */

/* #region Contact */

.contact {
  max-width: 55rem;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-description {
  color: var(--light-primary);
  font-size: var(--font-rg);
  line-height: 2;
  text-align: center;
}

.contact-btns {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.contact-btn,
.mail-btn {
  background-color: var(--background);
  color: var(--primary);
  border: 2px solid var(--primary);
  padding-block: 1.4rem;
  padding-inline: 2.8rem;
  font-size: var(--font-rg);
  font-weight: 500;
}

.mail-btn {
  background-color: rgba(0, 0, 0, 0.08);
  color: var(--white);
  border: 2px solid var(--white);
  border-radius: 5px;
  transition: var(--basic);
  cursor: pointer;
}

.mail-btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
  color: var(--primary);
  border: 2px solid var(--primary);
}

/* #endregion Contact */